include CITATION.cff
include LICENSE
include README.md
recursive-include src/biophys_interop *.py *.json *.md
recursive-include notebooks *.ipynb *.md
recursive-include examples *.csv
recursive-include docs *.json *.md
global-exclude .DS_Store
global-exclude ._*
global-exclude __pycache__
global-exclude *.py[cod]
